
@model IQueryable<EMPLOYEE>

    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="~/Admin/Index"><i class="fa fa-home"></i>Dashboard</a></li>
            <li class="active">Employees</li>
        </ol>
    </div>
    <div class="main">
        <!-- row -->
        <div class="row">
            <!-- col 12 -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile cornered">
                    <!-- tile header -->
                    <div class="tile-header">
                        <div class="tile-body nopadding">
                            <h1><strong>Employees View </strong></h1>
                        </div>
                        <div class="tile-header">
                            <a href="~/Account/RegisterUser">New Employee</a>
                        </div>

                    </div>
                    @*<%--<div class="tile-header">
                        <a href="AddEmployee.aspx">Add Employee</a>
                    </div>--%>*@
                    <!-- /tile header -->
                    <div class="tile-body nopadding">
                        @if (TempData["Error"] != null)
                        {
                            <label for="" class="col-sm-6 label-danger" id="lblInfo">@TempData["error"] </label>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <label for="" class="col-sm-6 label-success" id="lblInfo">@TempData["Success"] </label>
                        }
                        
@using (Html.BeginForm())
{
                        <div class="form-group col-md-12">
                            <label for="chk_employee" class="col-sm-4 control-label">
                                Team
                            </label>
                            <div class="col-sm-8">
                                @*<select id="team_id" name="team_id" runat="server" required="required" class="form-control"></select>*@
                                @Html.DropDownList("teamid", null, "All Teams", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txt_FName" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-8">
                                @*<input type="text" class="form-control" value="" name="txt_FName" id="txt_FName" />*@
                                @Html.TextBox("firstname", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txt_FName" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-8">
                                @*<input type="text" class="form-control" value="" name="txt_FName" id="txt_LName" />*@
                                @Html.TextBox("lastname", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-6">
                            <label for="txt_UName" class="col-sm-4 control-label">E Mail</label>
                            <div class="col-sm-8">
                                @*<input type="text" class="form-control" value="" name="txt_Email" id="txt_Email" />*@
                                @Html.TextBox("email", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txt_MNum" class="col-sm-4 control-label">Mobile Number</label>
                            <div class="col-sm-8">
                                @*<input type="text" class="form-control" value="" name="txt_Mnum" id="txt_Mnum" />*@
                                @Html.TextBox("mobilenumber", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" class="btn btn-primary" style="float:right;clear:both" name="act" value="search" />
                                <input type="button" class="btn btn-primary" style="float:right;clear:both" name="Add Employee" value="Add Employee" />
                                <input type="submit" class="btn btn-primary" style="float:right;margin-right:5px;" name="sendbut" value="Filter" />
                            </div>
                        </div>
}
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <!-- tile body -->
                        <br />
                        <table class="table" id="employeeTable">
                            <thead>
                                <tr>
                                    <th>Sr. #</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Team Name</th>
                                    <th>Email</th>
                                    <th>Mobile No</th>
                                    <th>Office</th>
                                    <th>Active</th>
                                    <th>Supervisior</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var emp in Model)
                                {
                                    <tr id="@emp.ID" onclick=ShowAddUpdateDialog('@emp.ID')>
                                        <td>@emp.ID</td>
                                        <td>@emp.FirstName</td>

                                        <td>@emp.LastName</td>
                                        <td>@(emp.TeamID == null ? "": emp.TEAM.TeamName)</td>
                                        <td>@emp.Email</td>
                                        <td>@emp.MobileNo</td>
                                        <td>@emp.OfficeExitNo</td>
                                        <td>@emp.Active</td>
                                        <td>@emp.IsSupervisor</td>
                                        <td hidden>@emp.TeamID</td>
                                    </tr>
                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>

@Html.Partial("Edit", new SafeMode.Models.EditEmployeeViewModel())


<script>




                   function onerror() {
                       alert('error');
                   }
                   function ShowAddUpdateDialog(id) {
                       $('#myModal').modal({ show: 'true' });
                       //var td = $(this);
                       $('#ID').val(id);
                       $('#FirstName').val($('#'+id+' td:eq(1)').text());
                       $('#LastName').val($('#' + id + ' td:eq(2)').text());
                       $('#Email').val($('#' + id + ' td:eq(4)').text());
                       $('#MobileNo').val($('#' + id + ' td:eq(5)').text());
                       $('#OfficeExitNo').val($('#' + id + ' td:eq(6)').text());
                       if ($('#' + id + ' td:eq(7)').text() === 'True') {
                           $('#IsSupervisor').prop('checked',true);
                       } else {
                           $('#IsSupervisor').prop('checked', false);
                       }
                       //$('#IsSupervisor').val($('#' + id + ' td:eq(7)').text());
                       if ($('#' + id + ' td:eq(8)').text() === 'True') {
                           $('#Active').prop('checked', true);
                       } else {
                           $('#Active').prop('checked', false);
                       }
                       //$('#Active').val($('#' + id + ' td:eq(8)').text());
                       $('#TeamID').val($('#' + id + ' td:eq(9)').text());
                   }


</script>

