@model IQueryable<AspNetUser>
<style>
    .main {
        background-color: #fff !important;
    }
</style>
<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="~/Admin/Index"><i class="fa fa-home"></i>Dashboard</a></li>
        <li class="active">Account</li>
    </ol>
</div>
<div class="main">
    <!-- row -->
    <div class="row">

        <!-- col 12 -->
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile cornered">

                <!-- tile header -->
                <div class="tile-header">
                    <h1><strong>Accounts </strong></h1>
                </div>

                <div class="tile-header">
                    <a href="AddAccount.aspx">Add New Account</a>
                </div>
                <!-- /tile header -->

@using (Html.BeginForm())
{
    <div class="form-group col-md-6">
        <label for="txt_FName" class="col-sm-4 control-label">First Name</label>
        <div class="col-sm-8">
            @*<input type="text" class="form-control" value="" name="txt_FName" id="txt_FName" />*@
            @Html.TextBox("firstname", null, new { @class = "form-control" })
        </div>
    </div>
                <div class="form-group col-md-6">
                    <label for="txt_FName" class="col-sm-4 control-label">Last Name</label>
                    <div class="col-sm-8">
                        @*<input type="text" class="form-control" value="" name="txt_FName" id="txt_LName" />*@
                        @Html.TextBox("lastname", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-md-6">
                    <label for="txt_UName" class="col-sm-4 control-label">User Name</label>
                    <div class="col-sm-8">
                        @*<input type="text" class="form-control" value="" name="txt_UName" id="txt_UName" />*@
                        @Html.TextBox("username", null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="hidden" class="btn btn-primary" name="act" value="search" />
                        <input type="button" class="btn btn-primary" name="sendbut" value="Filter" onclick="searchfilter();" />
                        <a class="btn btn-primary" value="Show All" href="@(~)/Account/Index" />
                    </div>
                </div>
}


                <div class="clearfix"></div>

                <!-- tile body -->
                <div class="tile-body nopadding">
                    <table class="table" id="employeeTable">
                        <thead>
                            <tr>
                                <th>Sr #</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Name</th>
                                <th>Is Supervisior</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var i = 0; }
                            @foreach (var acc in Model)
                            {
                                <tr onclick=ShowAddUpdateDialog('@acc.Id')>
                                    <td>@(++i)</td>
                                    <td>@(acc.EMPLOYEE != null ? acc.EMPLOYEE.FirstName : "") </td>
                                    <td>@(acc.EMPLOYEE != null ? acc.EMPLOYEE.LastName : "")</td>
                                    <td>@(acc.UserName)</td>
                                    <td>@(acc.EMPLOYEE != null ? acc.EMPLOYEE.IsSupervisor.ToString() : "" )</td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>

@Html.Partial("Edit", new SafeMode.Models.EditAccountViewModel())

